body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}
@media screen and (max-width: 512px) {
    body {
        width: 100%;
        flex-direction: column
    }
    .left {
        width: 100%;
        min-height: 50vh !important;
        min-width: 100vw;
        padding: 10px;
        box-sizing: border-box;
    }
    .right {
        height: 50vh;
        min-height: 0 !important;
        min-width: 100vw;
        background-color: #09f;
        padding: 10px;
        box-sizing: border-box;
    }
    .iconAT{
        bottom: 50% !important;
        margin-bottom: 36px;
    }

}

.left {
    width: 50%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.icon {
    height: 56px;
    width: auto;
}
.iconAT{
    height: 36px;
    width: auto;
}

.right {
    width: 50%;
    min-height: 100vh;
    background-color: #09f;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #09f;
    color: white;
    border: #09f 1px solid;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
}
button:hover {
    border: #b0deff 1px solid
}
button:active {
    filter: brightness(0.8);
}

code{
    font-family: Consolas, monospace;
}